<h1>Listado de Películas</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Dirección</th>
            <th>Género</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas" (click)="seleccionPelicula(pelicula)">
            <td>{{pelicula.id_pelicula}}</td>
            <td>{{pelicula.titulo}}</td>
            <td>{{pelicula.director}}</td>
            <td>{{pelicula.genero}}</td>
            <td><img [src]="pelicula.foto" class="img-fluid w-25" alt=""></td>
        </tr>
    </tbody>
</table>
 
<div *ngIf="peliculaSeleccionada.id_pelicula > 0">
    <hr>
    <app-detalle [pelicula]="peliculaSeleccionada"></app-detalle>
</div>